__pycache__
/dist
/.pytest_cache
/.vscode
/result
/docs/build
/MNIST
/venv
/pyvenv.cfg
/datasets
/exp
/container
/benchmarks
/build
/src/evox.egg-info
/.idea

logs/
monitor_out/
tests/maze/
tests/mujoco_envs/*
tests/test.py
src/evox/algorithms/mo/im_moea.py
