__pycache__
/dist
/.pytest_cache
/.vscode
/result
/docs/build
/MNIST
/venv
/pyvenv.cfg
/datasets
/exp
/container
/benchmarks
/build
/src/evox.egg-info
/.idea

logs/
evox/algorithms/so/cso_*.py

tests/maze/
!tests/maze/maze_so.py

tests/mujoco_envs/*.gif
tests/mujoco_envs/*test*.py
tests/mujoco_envs/*learn*.py

tests/gym_env_test.py
