[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "evoxlib"
version = "0.0.2"
authors = [{ name = "Bill Huang", email = "bill.huang2001@gmail.com" },
           { name = "Christina Lee", email = "1315552992@qq.com"} ]
description = "Evoxlib"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.7"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]

dependencies = [
  "jax >= 0.3.0",
  "jaxlib >= 0.3.0",
  "bokeh >= 2.4.0"
]

[project.optional-dependencies]
tests = [
  "pytest >= 6.0.0",
  "chex >= 0.1.0"
]

[project.urls]
"Homepage" = "https://github.com/pypa/sampleproject"
"Bug Tracker" = "https://github.com/pypa/sampleproject/issues"
