[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
mypkg = ["*.txt", "*.json"]

[project]
name = "evox"
version = "0.6.0"
authors = [
  { name = "Bill Huang", email = "bill.huang2001@gmail.com" },
  { name = "Christina Lee", email = "1315552992@qq.com" },
  { name = "Zhenyu Liang", email = "zhenyuliang97@gmail.com" },
]
description = "evox"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.9"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: BSD License",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
]

dependencies = [
  "jax >= 0.4.16",
  "jaxlib >= 0.3.0",
  "optax >= 0.1.0",
  "pyarrow >= 10.0.0",
]

[project.optional-dependencies]
test = [
  "chex >= 0.1.0",
  "flax >= 0.5.0",
  "pytest >= 6.0.0",
]

gymnasium = ["gymnasium >= 0.29.0"]

envpool = ["envpool >= 0.8.0"]

neuroevolution = [
  "torch >= 1.0.0",
  "torchvision >= 0.1.0",
]

distributed = ["ray >= 2.0.0"]

full = [
  "gymnasium >= 0.29.0",
  "ray >= 2.0.0",
  "torch >= 1.0.0",
  "torchvision >= 0.1.0",
  "envpool >= 0.8.0",
]

[project.urls]
"Homepage" = "https://github.com/EMI-Group/evox"
"Bug Tracker" = "https://github.com/EMI-Group/evox/issues"
