# core dependencies
jax
jaxlib
optax
# for docs generation
pydata-sphinx-theme
sphinx < 6 # https://github.com/pydata/pydata-sphinx-theme/issues/1094
numpydoc
myst-parser
sphinx_copybutton
sphinx_design