# core dependencies
jax
jaxlib
flax
grain
optax
pyarrow
polib
# for docs generation
sphinx-book-theme > 1.0
sphinx
myst-nb
nbsphinx
myst-parser
sphinx_copybutton
sphinx_design
sphinx-favicon
sphinxcontrib-mermaid
